@import '~materialize-css/dist/css/materialize.min.css';
@import '~trix/dist/trix.css';

body { margin: 0; background-color: #484848; overflow: hidden; }
.ui-title-bar { background-color: #3b3b3b; display: flex; height: 30px; width: 100%; position: fixed; left: 0; top: 0; }
.ui-title-main { flex: 1; height: 100% !important; border-radius: 0 !important; }
.ui-draggable { -webkit-app-region: drag; -webkit-user-select: none; }
.ui-right-control { width: 100px; }
.ui-control-button { height: 100% !important; width: 100% !important; cursor: default !important; border-radius: 0 !important; }
.ui-main { margin: 38px 8px 8px 8px; height: calc(100vh - 46px); overflow-y: auto; }
.ui-main::-webkit-scrollbar { width: 3px; }
.ui-main::-webkit-scrollbar-thumb { background-color: #c5c5c5; background-clip: padding-box; }
.ui-main::-webkit-scrollbar-track { background-color: #888888; }
.card-panel { margin: 0 !important; }

.lc-line-h { display: flex; flex-direction: row; gap: 5px; }
.lc-line-v { display: flex; flex-direction: column; gap: 5px; }
.lc-full { flex: 1; }
.lc-valign { display: flex; align-items: center; padding-left: 12px; }
.lc-right { justify-content: flex-end; }
.lc-border-white { border: 1px solid #ccc; border-radius: 3px; }

.lc-fix-top { position: fixed; top: 12px; left: 15px; }
.lc-fix-bot { position: fixed; bottom: 12px; right: 15px; }

.hidden { display: none !important; }
.mt-1 { margin-top: 3px !important; }
.mt-2 { margin-top: 6px !important; }
.mt-3 { margin-top: 9px !important; }
.text-bold { font-weight: bold; }

.toast { background-color: #6b6b6b !important; width: auto !important; }
#toast-container { min-width: auto !important; }